body{background-color:#EAF6F6}
hr{background-color:#EAF6F6;width:30%;height:0px;
  border-style:dotted none none;border-color:grey;border-width:6px}
img{height:260px;border-radius: 50%}
h1,h3{color:#66BFBF}
